body {
    background-color: #212121;
    display: flex;
    width: 100%;
}

.top-row {
    min-height: 6vh;
    padding: 0px;
}
.user-options {
    color: black;
    padding: 1px; 
    border-radius: 10px;
    width: fit-content;
    margin-left: auto; 
    margin-right: 0;
}

.user-options > * {
    font-size: 3vh;
    margin-left: auto;
    margin-right: 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
    height: 60%;
}

.row > * {
    max-height: 100%;
}

.infobox, .searchform {
    background-color: #787878;
    color: black;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    height: 90%;
}

.searchform {
    height: auto;
    max-height: 100%;
}

.infobox > h4 {
    height: 20%;
    font-size: 1rem;
}

.infobox > p {
    height: 20%;
    font-size: 1rem;
    margin: 0px;
    font-size: 1rem;
}

.video-wrapper {
    height: 100px;

}
video {
    max-width: 100%;
    max-height: 100%;
}

#toggle-remove-button {
    background-color: transparent;
    border: none;
    float: right;
    max-width: 15%;
    margin-right: 10px;
}

#toggle-remove-button > img {
    float: right;

    max-width: 100%;
}

.login-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.login-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}